{%extends 'navbar.html'%}
{%block content%}
<head>
    <title>About Ecobrick</title>
    <style>
            .column1 {
                float: left;
                width: 50%;
                padding-left: 40px;
                padding-top: 60px;
            }
            .column2 {
                float: left;
                width: 50%;
            }
                        
            /* Clear floats after the columns */
            .row:after {
                content: "";
                display: table;
                clear: both;
            }
    </style>
</head

<div class="row">
        <div class="column1">
            <h1>What is an Ecobrick?</h1>
            <br>
            <p>An Ecobrick is a bottle packed solid with used plastic to make a reusable building block. Best of all, you don’t need any fancy machines, special skills, engineers or politicians to get started. All you need is a plastic bottle and a stick to start.</p>
        
            <h1>Why Ecobrick?</h1>
            <br>
            <p>Ecobricks are cradle-to-cradle building blocks that can make all sorts of awesome stuff.  Around the world people are using ecobricks to build  for themselves and their communities.  From indoor furniture, to gardens and parks, to structures–  your imagination is the only  limit!</p>
        </div>
        
        <div class="column2">
            <center>
                <br><br><br>
                <img src="https://static1.squarespace.com/static/537f7791e4b081bbb40eb12a/t/55b53f93e4b026c1091e1195/1437941653144/eco_stock.jpg" alt="img" width="500">
            </center>
        </div>
</div>

{%endblock%}